torch>=2.0.0
torchaudio>=2.0.0
git+https://github.com/nyrahealth/transformers.git@crisper_whisper
accelerate>=0.26.0
librosa>=0.10.0
moviepy>=2.0.0
numpy>=1.24.0
scipy>=1.11.0
streamlit>=1.30.0
streamlit_mic_recorder>=0.0.8
transformers>=4.36.0
