torch
torchaudio
git+https://github.com/nyrahealth/transformers.git@crisper_whisper
accelerate
scipy
streamlit
moviepy
streamlit_mic_recorder
librosa
accelerate
moviepy
numpy
scipy
streamlit
streamlit_mic_recorder
torch
torchaudio
transformers
